{% extends "_base.html" %} {% load static %} {% block content %}

<nav class="w-full">
  <div class="flex justify-center">
    <h1 class="text-4xl m-3">Hello {{full_name}}!</h1>
  </div>
</nav>
<main class="flex">
  <div class="flex h-full min-h-screen w-20 bg-base-200">
    <ul
      class="menu bg-base-200 text-base-content min-h-full w-20 p-0 gap-5 h-full"
    >
      <!-- Sidebar contents -->
      <li class="mt-4 mb-6">
        <a href="{% url 'chat' %}">
          <i class="fa-solid fa-comment-dots text-4xl hover:text-blue-600"></i>
        </a>
      </li>
      <li class="mt-4 mb-6">
        <a href="{% url 'settings' %}">
          <i class="fa-solid fa-gear text-4xl hover:text-blue-600"></i>
        </a>
      </li>
      <li class="mt-4 mb-6">
        <a>
          <i class="fa-solid fa-circle-info text-4xl hover:text-blue-600"></i>
        </a>
      </li>
      <li class="mt-4 mb-6">
        <button onclick="my_modal_1.showModal()">
          <i
            class="fa-solid fa-right-from-bracket text-red-300 hover:text-red-700 text-4xl"
          ></i>
        </button>
      </li>
    </ul>
  </div>


  <div
    class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 w-full pl-10 pr-10 pt-10 pb-5 overflow-y-auto overscroll-contain"
  >
  {% for user in filtered_users %}
    <div class="h-72 rounded-lg bg-green-300 p-6">
      <h1 class="text-xl text-center text-black mb-1">User {{ user.user.user.pk }}</h1>
      <div class="flex justify-evenly">
        <div class="badge badge-secondary">{{ user.user.gender }}</div>
        <div class="badge badge-primary">{{ user.similarity }}</div>
      </div>
      <p class="text-red-500 font-semibold">Bio:</p>
      <p class="text-black">
        {{ user.user.bio }}
      </p>
      {% for interest in user.interests %}
      <div class="badge badge-primary">{{ interest }}</div>
      {% endfor %}
      <form method="post" action="{% url 'dashboard' %}{{user.user.user.pk}}/">
        {% csrf_token %}
        <button
        class="bg-info btn text-black hover:bg-blue-500 border-transparent m-3"
      >
        Start Chat
      </button>
      </form>
    </div>
  {% endfor %}

  </div>
</main>

<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Are you sure you want to Logout?</h3>
    <div class="modal-action">
      <form method="dialog">
        <a href="{% url 'logout' %}" class="btn bg-red-900 mr-5">Yes</a>
        <button class="btn bg-cyan-600">No</button>
      </form>
    </div>
  </div>
</dialog>

{% endblock content %}
