<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-3xl">ChatSecure</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><button>Login</button></li>
      <li>
        <button>Sign Up</button>
      </li>
    </ul>
  </div>
</div>

<div class="flex justify-center items-center h-screen">
  <div class="text-center">
    <h1 class="text-5xl mb-8">Welcome to ChatSecure</h1>
    <p class="text-lg max-w-4xl mx-auto">
      ChatSecure is a cutting-edge platform focused on providing secure communication solutions for users across the globe. 
      Our mission is to ensure privacy and protection while enabling seamless interactions. We prioritize user security with 
      end-to-end encryption and innovative technologies that foster trust and confidentiality. Join us on a journey towards 
      secure and reliable communication.
    </p>
  </div>
</div>
{% endblock content %}
