{% extends "_base.html" %} 
{% block content %}

<div class="flex justify-center items-center h-screen bg-gray-400">
    <div class="text-center">
        <div class="card bg-base-100 w-96 shadow-xl">
            <figure class="flex justify-center items-center">
              <img 
                src="data:image/png;base64,{{ qr }}"
                alt="QR Code" 
                class="w-30 h-30"/>
            </figure>
            <div class="card-body">
              <h2 class="card-title">Enable 2FA</h2>
                        {% if messages %}
                {% for m in messages %}
                    {% if m.tags == "error" %}
                            <!-- RED ALERT -->
                            <p> 
                                {{ m }}
                            </p>
                        
                    </div>
                    {% else %}
                    <!-- GREEN ALERT -->
                        <p>
                            {{ m }}
                        </p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <h2>Authenticator secret: {{ token }}</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="card-actions justify-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </form>
              
            </div>
          </div>
        
    </div>
</div>
    



{% endblock content %}